# Backend Python dependencies (minimal set). Adjust versions as needed.
Django==5.2.8
djangorestframework
django-cors-headers
django-filter
python-dotenv
requests
gunicorn
psycopg2-binary
Pillow
whitenoise
dj-database-url

# Google Sheets API
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.100.0
